## Import libraries

In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)  # me muestre todas las columnas
#pd.set_option('display.max_rows', None)  # me muestre todas las filas

## Import files

In [3]:
sqltable_albums = pd.read_csv('../data/clean/api_albums_clean.csv', encoding='latin1')
sqltable_albums.head(2)

,albumnamers,albumidspotify,albumnamespotify,artistnamespotify,artistidspotify,releasedate,totaltracks
0,Sgt. Pepper's Lonely Hearts Club Band,1x1jpjDbetGqX0IKCUIBNj,Sgt. Pepper's Lonely Hearts Club Band,Bloco do Sargento Pimenta,3wGWCP3E3tYqj5memYV9Vq,2017-12-08,13.0
1,Pet Sounds,2CNEkSE8TADXRT2AzcEt1b,Pet Sounds,The Beach Boys,3oDbviiivRWhXwIE8hxkVV,1966-05-16,13.0

In [4]:
sqltable_albums.shape

(443, 7)

## Clean NAs and duplicates

In [5]:
#clean NAs (some albums available in the RS DB were not found in Spotify)
sqltable_albums.dropna(inplace=True)

In [6]:
sqltable_albums.shape

(443, 7)

In [7]:
sqltable_albums.duplicated().any()

False

## Column names

In [8]:
sqltable_albums.columns

Index(['albumnamers', 'albumidspotify', 'albumnamespotify',
       'artistnamespotify', 'artistidspotify', 'releasedate', 'totaltracks'],
      dtype='object')

In [9]:
finalcolumns = ['rs_albumname', 'sp_albumid', 'sp_albumname', 'sp_artistname', 'sp_artistid','sp_releasedate','sp_totaltracks']

In [10]:
sqltable_albums.columns = finalcolumns

In [11]:
sqltable_albums.head(1)

,rs_albumname,sp_albumid,sp_albumname,sp_artistname,sp_artistid,sp_releasedate,sp_totaltracks
0,Sgt. Pepper's Lonely Hearts Club Band,1x1jpjDbetGqX0IKCUIBNj,Sgt. Pepper's Lonely Hearts Club Band,Bloco do Sargento Pimenta,3wGWCP3E3tYqj5memYV9Vq,2017-12-08,13.0

## Reoder columns

In [12]:
sqltable_albums = sqltable_albums.iloc[:, [1, 2, 4, 5, 6]]
sqltable_albums.head(1)

,sp_albumid,sp_albumname,sp_artistid,sp_releasedate,sp_totaltracks
0,1x1jpjDbetGqX0IKCUIBNj,Sgt. Pepper's Lonely Hearts Club Band,3wGWCP3E3tYqj5memYV9Vq,2017-12-08,13.0

## Data type

In [13]:
sqltable_albums.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 443 entries, 0 to 442
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sp_albumid      443 non-null    object
 1   sp_albumname    443 non-null    object
 2   sp_artistid     443 non-null    object
 3   sp_releasedate  443 non-null    object
 4   sp_totaltracks  443 non-null    float64
dtypes: float64(1), object(4)
memory usage: 17.4+ KB

In [18]:
sqltable_albums['sp_releasedate'] = pd.to_datetime(sqltable_albums['sp_releasedate'])

In [20]:
sqltable_albums['sp_releasedate'].dtype

dtype('<M8[ns]')

## Export

In [ ]:
with open('../pw.txt') as file: 
    
    password = file.read()

In [ ]:
str_conn=f'mysql+pymysql://root:{password}@localhost:3306/rsalbums'

cursor = create_engine(str_conn)

In [ ]:
sqltable_albums(name='inventory',
              con=cursor,
              if_exists = 'append',
              index=True)