## Import libraries

In [309]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)  # me muestre todas las columnas
#pd.set_option('display.max_rows', None)  # me muestre todas las filas

## Import files

In [310]:
sqltable_artists = pd.read_csv('../data/clean/api_artists_clean.csv', encoding='latin1')
sqltable_artists.head(2)

,artistidspotify,artistnamespotify,followers,popularity,genres
0,3wGWCP3E3tYqj5memYV9Vq,Bloco do Sargento Pimenta,5169,7,['bloco']
1,3oDbviiivRWhXwIE8hxkVV,The Beach Boys,4303517,68,"['baroque pop', 'classic rock', 'folk rock', '..."

In [311]:
sqltable_artists.shape

(323, 5)

## Clean NAs and duplicates

In [312]:
sqltable_artists.dropna(inplace=True)

In [313]:
sqltable_artists.shape

(323, 5)

In [314]:
sqltable_artists.duplicated().any()

False

In [315]:
import re

# Iterate over each column in the DataFrame
for col in sqltable_artists.columns:
    sqltable_artists[col] = sqltable_artists[col].apply(lambda x: re.sub(r'[^\w\s]', '', x) if isinstance(x, str) else x)

# Display the updated DataFrame
sqltable_artists.head()

,artistidspotify,artistnamespotify,followers,popularity,genres
0,3wGWCP3E3tYqj5memYV9Vq,Bloco do Sargento Pimenta,5169,7,bloco
1,3oDbviiivRWhXwIE8hxkVV,The Beach Boys,4303517,68,baroque pop classic rock folk rock mellow gold...
2,62F9BiUmjqeXbBztCwiX1U,Lil Darkie,1547878,67,glitchcore meme rap viral rap
3,74ASZWbe4lXaubB36ztrGX,Bob Dylan,6285864,68,classic rock country rock folk folk rock psych...
4,5o723EMxNulM5ydXRh7Qkk,The Beatles Complete On Ukulele,2216,13,

## Column names

In [316]:
sqltable_artists.columns

Index(['artistidspotify', 'artistnamespotify', 'followers', 'popularity',
       'genres'],
      dtype='object')

In [317]:
finalcolumns = ['sp_artistid', 'sp_artistname', 'sp_followers', 'sp_popularity', 'sp_genres']

In [318]:
sqltable_artists.columns = finalcolumns

In [319]:
sqltable_artists.head(1)

,sp_artistid,sp_artistname,sp_followers,sp_popularity,sp_genres
0,3wGWCP3E3tYqj5memYV9Vq,Bloco do Sargento Pimenta,5169,7,bloco

## Reoder columns

In [320]:
sqltable_artists = sqltable_artists.iloc[:, [0, 1, 2, 3]]
sqltable_artists.head(1)

,sp_artistid,sp_artistname,sp_followers,sp_popularity
0,3wGWCP3E3tYqj5memYV9Vq,Bloco do Sargento Pimenta,5169,7

## Data type

In [321]:
sqltable_artists.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323 entries, 0 to 322
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   sp_artistid    323 non-null    object
 1   sp_artistname  323 non-null    object
 2   sp_followers   323 non-null    int64
 3   sp_popularity  323 non-null    int64
dtypes: int64(2), object(2)
memory usage: 10.2+ KB

## Export

In [322]:
import mysql.connector as conn
from sqlalchemy import create_engine

In [323]:
sqltable_artists.head(2)

,sp_artistid,sp_artistname,sp_followers,sp_popularity
0,3wGWCP3E3tYqj5memYV9Vq,Bloco do Sargento Pimenta,5169,7
1,3oDbviiivRWhXwIE8hxkVV,The Beach Boys,4303517,68

In [324]:
#with open('../pw.txt') as file: 
    
    #password = file.read()

In [325]:
#str_conn=f'mysql+pymysql://root:{password}@localhost:3306/rsalbums'

#cursor = create_engine(str_conn)

In [326]:
#sqltable_artists.to_sql(name='artists',
              #con=cursor,
              #if_exists = 'replace',
              #index=False)

In [327]:
sqltable_artists.to_csv('../data/sqlexports/sqltable_artist.csv', index=False, encoding='latin1')