## Import libraries

In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)  # me muestre todas las columnas
#pd.set_option('display.max_rows', None)  # me muestre todas las filas

## Import files

In [3]:
sqltable_artists = pd.read_csv('../data/clean/api_artists_clean.csv', encoding='latin1')
sqltable_artists.head(2)

,artistidspotify,artistnamespotify,followers,popularity,genres
0,3wGWCP3E3tYqj5memYV9Vq,Bloco do Sargento Pimenta,5169,7,['bloco']
1,3oDbviiivRWhXwIE8hxkVV,The Beach Boys,4303517,68,"['baroque pop', 'classic rock', 'folk rock', '..."

In [4]:
sqltable_artists.shape

(323, 5)

## Clean NAs and duplicates

In [5]:
sqltable_artists.dropna(inplace=True)

In [6]:
sqltable_artists.shape

(323, 5)

In [8]:
sqltable_artists.duplicated().any()

False

## Column names

In [9]:
sqltable_artists.columns

Index(['artistidspotify', 'artistnamespotify', 'followers', 'popularity',
       'genres'],
      dtype='object')

In [10]:
finalcolumns = ['sp_artistid', 'sp_artistname', 'sp_followers', 'sp_popularity', 'sp_genres']

In [11]:
sqltable_artists.columns = finalcolumns

In [12]:
sqltable_artists.head(1)

,sp_artistid,sp_artistname,sp_followers,sp_popularity,sp_genres
0,3wGWCP3E3tYqj5memYV9Vq,Bloco do Sargento Pimenta,5169,7,['bloco']

## Reoder columns

In [13]:
sqltable_artists = sqltable_artists.iloc[:, [0, 1, 2, 3, 4]]
sqltable_artists.head(1)

,sp_artistid,sp_artistname,sp_followers,sp_popularity,sp_genres
0,3wGWCP3E3tYqj5memYV9Vq,Bloco do Sargento Pimenta,5169,7,['bloco']

## Data type

In [14]:
sqltable_artists.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323 entries, 0 to 322
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   sp_artistid    323 non-null    object
 1   sp_artistname  323 non-null    object
 2   sp_followers   323 non-null    int64
 3   sp_popularity  323 non-null    int64
 4   sp_genres      323 non-null    object
dtypes: int64(2), object(3)
memory usage: 12.7+ KB

## Export

In [ ]:
with open('../pw.txt') as file: 
    
    password = file.read()

In [ ]:
str_conn=f'mysql+pymysql://root:{password}@localhost:3306/rsalbums'

cursor = create_engine(str_conn)

In [ ]:
sqltable_artists(name='inventory',
              con=cursor,
              if_exists = 'append',
              index=True)