## Import libraries

In [201]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)  # me muestre todas las columnas
#pd.set_option('display.max_rows', None)  # me muestre todas las filas

## Import files

In [202]:
sqltable_tracks = pd.read_csv('../data/clean/api_tracks1_clean.csv', encoding='latin1')
sqltable_tracks.head(2)

,track_id,track_name,album_id,artist_id,artist_name
0,4ZY1RPoLfezEqu03BI2axd,Sgt. Pepper's Lonely Hearts Club Band,1x1jpjDbetGqX0IKCUIBNj,3wGWCP3E3tYqj5memYV9Vq,Bloco do Sargento Pimenta
1,0QLyr8xasb6tgGkdPWYw8d,With a Little Help From My Friends,1x1jpjDbetGqX0IKCUIBNj,3wGWCP3E3tYqj5memYV9Vq,Bloco do Sargento Pimenta

In [203]:
sqltable_tracks.shape

(4818, 5)

## Clean NAs and duplicates

In [204]:
sqltable_tracks.dropna(inplace=True)

In [205]:
sqltable_tracks.shape

(4818, 5)

In [206]:
sqltable_tracks.duplicated().any()

False

## Column names

In [207]:
sqltable_tracks.columns

Index(['track_id', 'track_name', 'album_id', 'artist_id', 'artist_name'], dtype='object')

In [208]:
finalcolumns = ['sp_trackid', 'sp_trackname', 'albums_sp_albumid', 'artists_sp_artistid', 'sp_artistname']

In [209]:
sqltable_tracks.columns = finalcolumns

In [210]:
sqltable_tracks.head(1)

,sp_trackid,sp_trackname,albums_sp_albumid,artists_sp_artistid,sp_artistname
0,4ZY1RPoLfezEqu03BI2axd,Sgt. Pepper's Lonely Hearts Club Band,1x1jpjDbetGqX0IKCUIBNj,3wGWCP3E3tYqj5memYV9Vq,Bloco do Sargento Pimenta

## Reoder columns

In [211]:
sqltable_tracks = sqltable_tracks.iloc[:, [0, 1, 2]]
sqltable_tracks.head(1)

,sp_trackid,sp_trackname,albums_sp_albumid
0,4ZY1RPoLfezEqu03BI2axd,Sgt. Pepper's Lonely Hearts Club Band,1x1jpjDbetGqX0IKCUIBNj

## Data type

In [212]:
sqltable_tracks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4818 entries, 0 to 4817
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sp_trackid         4818 non-null   object
 1   sp_trackname       4818 non-null   object
 2   albums_sp_albumid  4818 non-null   object
dtypes: object(3)
memory usage: 113.0+ KB

## Export

In [213]:
import mysql.connector as conn
from sqlalchemy import create_engine

In [214]:
sqltable_tracks.head(1)

,sp_trackid,sp_trackname,albums_sp_albumid
0,4ZY1RPoLfezEqu03BI2axd,Sgt. Pepper's Lonely Hearts Club Band,1x1jpjDbetGqX0IKCUIBNj

In [215]:
#with open('../pw.txt') as file: 
    
    #password = file.read()

In [216]:
#str_conn=f'mysql+pymysql://root:{password}@localhost:3306/rsalbums'

#cursor = create_engine(str_conn)

In [217]:
#sqltable_tracks.to_sql(name='tracks',
              #con=cursor,
              #if_exists = 'replace',
              #index=False)

In [219]:
sqltable_tracks.to_csv('../data/sqlexports/sqltable_tracks.csv', index=False, encoding='latin1')