In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)  # me muestre todas las columnas
#pd.set_option('display.max_rows', None)  # me muestre todas las filas

### List of albums I am interested on

In [37]:
topalbums = pd.read_csv('../data/clean/DB_Kaggle_top500albums_clean.csv', encoding='latin1')

topalbums.head(3)

,toprankingorder,album,artist,year
0,1,Sgt. Pepper's Lonely Hearts Club Band,The Beatles,1967
1,2,Pet Sounds,The Beach Boys,1966
2,3,Revolver,The Beatles,1966

In [38]:
horriblealbums = pd.read_csv('../data/clean/WS_50horriblealbums_clean.csv', encoding='latin1')

horriblealbums.head(3)

,horriblerankingorder,album,artist,rationale,year
0,50,Its Hard,The Who,"In the early Eighties, Pete Townshend was jugg...",1982
1,49,The Bridge,Billy Joel,Billy Joel had nearly a solid decade of succes...,1986
2,48,Van Halen III,Van Halen,When original Van Halen singer David Lee Roth ...,1998

In [39]:
#need to be conscious of the fact that some albums have the same name 

topalbums['album'].value_counts().head(3)

album
Greatest Hits                            3
Let It Be                                2
Sgt. Pepper's Lonely Hearts Club Band    1
Name: count, dtype: int64

In [40]:
#let us try to get unique values for album_artist 

topalbums['album_artist'] = topalbums['album'] + ' - ' + topalbums['artist']

In [41]:
topalbums.head(3)

,toprankingorder,album,artist,year,album_artist
0,1,Sgt. Pepper's Lonely Hearts Club Band,The Beatles,1967,Sgt. Pepper's Lonely Hearts Club Band - The Be...
1,2,Pet Sounds,The Beach Boys,1966,Pet Sounds - The Beach Boys
2,3,Revolver,The Beatles,1966,Revolver - The Beatles

In [42]:
horriblealbums['album'].value_counts().head(2)

album
Its Hard           1
Leather Jackets    1
Name: count, dtype: int64

In [43]:
horriblealbums['album_artist'] = horriblealbums['album'] + ' - ' + horriblealbums['artist']

In [44]:
horriblealbums.head(2)

,horriblerankingorder,album,artist,rationale,year,album_artist
0,50,Its Hard,The Who,"In the early Eighties, Pete Townshend was jugg...",1982,Its Hard - The Who
1,49,The Bridge,Billy Joel,Billy Joel had nearly a solid decade of succes...,1986,The Bridge - Billy Joel

In [45]:
all_albums = pd.concat([topalbums, horriblealbums], ignore_index=True)
all_albums.shape

(550, 7)

In [46]:
all_albums.head(3)

,toprankingorder,album,artist,year,album_artist,horriblerankingorder,rationale
0,1.0,Sgt. Pepper's Lonely Hearts Club Band,The Beatles,1967,Sgt. Pepper's Lonely Hearts Club Band - The Be...,NaN,NaN
1,2.0,Pet Sounds,The Beach Boys,1966,Pet Sounds - The Beach Boys,NaN,NaN
2,3.0,Revolver,The Beatles,1966,Revolver - The Beatles,NaN,NaN

In [47]:
unique_album_artist_list = all_albums['album_artist'].unique().tolist()

In [48]:
len(unique_album_artist_list)

550

### Spotify Connection

In [49]:
#%pip install pyarrow
#%pip install joblib
#%pip install tqdm
#%pip install spotipy
#%pip install python-dotenv
#%pip install requests

In [2]:
import requests as rq
import pandas as pd
import pyarrow
from joblib import Parallel, delayed
from tqdm import tqdm
import time
import pymongo
from passwords import *

In [3]:
Client_ID

'eda83f2b172041569cc4822a12a4c8ab'

In [4]:
# Obtener el TOKEN

AUTH_URL = "https://accounts.spotify.com/api/token"

creds = {
    "grant_type": "client_credentials",
    "client_id": Client_ID,
    "client_secret": Client_secret
}

response = rq.post(AUTH_URL, 
                         data=creds, 
                         headers={"Content-Type": "application/x-www-form-urlencoded"})


TOKEN = response.json()['access_token']

# Conexión con la API

url = "https://api.spotify.com/"

headers = {"Authorization": f'Bearer {TOKEN}'}

response = rq.get(url,headers=headers)
response