In [58]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)  # me muestre todas las columnas
#pd.set_option('display.max_rows', None)  # me muestre todas las filas

In [59]:
data = pd.read_csv('../data/raw/DB_Kaggle_top500albums.csv', encoding='latin1')

data.head()

,Number,Year,Album,Artist,Genre,Subgenre
0,1,1967,Sgt. Pepper's Lonely Hearts Club Band,The Beatles,Rock,"Rock & Roll, Psychedelic Rock"
1,2,1966,Pet Sounds,The Beach Boys,Rock,"Pop Rock, Psychedelic Rock"
2,3,1966,Revolver,The Beatles,Rock,"Psychedelic Rock, Pop Rock"
3,4,1965,Highway 61 Revisited,Bob Dylan,Rock,"Folk Rock, Blues Rock"
4,5,1965,Rubber Soul,The Beatles,"Rock, Pop",Pop Rock

In [60]:
data['Album'] = data['Album'].apply(lambda x: x.strip() if isinstance(x, str) else x)

In [61]:
data.columns

Index(['Number', 'Year', 'Album', 'Artist', 'Genre', 'Subgenre'], dtype='object')

In [62]:
columns = ['toprankingorder', 'year', 'album', 'artist', 'genre', 'subgenre']

In [63]:
data.columns = columns

In [64]:
data.head()

,toprankingorder,year,album,artist,genre,subgenre
0,1,1967,Sgt. Pepper's Lonely Hearts Club Band,The Beatles,Rock,"Rock & Roll, Psychedelic Rock"
1,2,1966,Pet Sounds,The Beach Boys,Rock,"Pop Rock, Psychedelic Rock"
2,3,1966,Revolver,The Beatles,Rock,"Psychedelic Rock, Pop Rock"
3,4,1965,Highway 61 Revisited,Bob Dylan,Rock,"Folk Rock, Blues Rock"
4,5,1965,Rubber Soul,The Beatles,"Rock, Pop",Pop Rock

In [65]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   toprankingorder  500 non-null    int64
 1   year             500 non-null    int64
 2   album            500 non-null    object
 3   artist           500 non-null    object
 4   genre            500 non-null    object
 5   subgenre         471 non-null    object
dtypes: int64(2), object(4)
memory usage: 23.6+ KB

In [66]:
data = data.iloc[:, [0, 2, 3,1]]

In [67]:
data.head()

,toprankingorder,album,artist,year
0,1,Sgt. Pepper's Lonely Hearts Club Band,The Beatles,1967
1,2,Pet Sounds,The Beach Boys,1966
2,3,Revolver,The Beatles,1966
3,4,Highway 61 Revisited,Bob Dylan,1965
4,5,Rubber Soul,The Beatles,1965

In [68]:
data.to_csv('../data/clean/DB_Kaggle_top500albums_clean.csv', index=False)